@(tasks: List[modelos.Task], taskForm: Form[modelos.Task])

@import helper._

@main("Lista de atividades") {
     <h1 style="font-family:verdana;">@tasks.size() atividade(s)</h1>
    <h1>Atividade(s) não realizada(s)</h1>
      <style type="text/css">
	body {
		text-align: center;
		color: #660000;
	}
	td {
	color: #333399;
	}
	
	tr{
	color: blue;
	}

  
  </style>
    <ul>
            <table class="table table-hover">
                    <tr>
                    
                            <td><h3><b>Tarefa</b></h3></td> 
                            <td><h3><b>Descrição</b></h3></td> 
                            <td><h3><b>Prioridade</b></h3></td>
                            <td><h3><b>Ações</b></h3></td>
                    </tr>
                @for(task <- tasks) {
                   @if(!task.isStatus()){
                   <tr>
						<td><h3>@task.getName()</h3></td>
						<td><h4>@task.getDescription()</h4></td>               
						<td><h4>@task.getPriority()</h4></td>
                              <td>
				   @form(routes.Application.updateTask(task.getId())) {
					<input type="submit" value="Realizar"> 
					}
               @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Excluir">
                }
               </td>
            </tr>   
		}         
        }
        </table>
    </ul>

    <h1>Atividades(s) realizadas(s)</h1>
    <ul>
            <table class="table table-hover">
                    <tr>
                            <td><h3><b>Tarefa</b></h3></td> 
                            <td><h3><b>Descrição</b></h3></td> 
                            <td><h3><b>Prioridade</b></h3></td>
                            <td><h3><b>Ações</b></h3></td>
                    </tr>
                @for(task <- tasks) {
                   @if(task.isStatus()) {
                   <tr>
                     
               <td><h3>@task.getName()</h3></td>
               <td><h4>@task.getDescription()</h4></td>
               
               <td><h4>@task.getPriority()</h4></td>
               <td>
               @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Excluir">
                }
               </td>
            </tr>
		}            
        }
        </table>
    </ul>

    <h2>Adicione uma nova atividade</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("name"),'_label-> "Nome da atividade:") 
        @inputText(taskForm("description"),'_label-> "Descrição:")
        @inputText(taskForm("priority"),'_label-> "Prioridade da atividade:")
        <input type="submit" value="Criar">
        
    }   
}
