@(tasks: List[modelos.Task], taskForm: Form[modelos.Task])

@import helper._

@main("Lista de atividades") {
    
    <h1>@tasks.size() atividades(s)</h1>

    
    <h2>Adicione uma nova atividade</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("name"),'_label-> "Nome da atividade") 
        @inputText(taskForm("description"),'_label-> "Descrição")
        @inputText(taskForm("priority"),'_label-> "Prioridade da atividade")
        <input type="submit" value="Criar">
        
    }
    
}
